nav{
    background-color: black;
    border: solid black;
}
a{
    color: white

}
#COLONNE{
    width: 660px;
    position: absolute;
    right:0;
    background-color: grey;
    margin-left:0px;
    height:753px;
    border-top-width: 0px;
}


li{
    display: inline-block
}

footer{
    background-color: black;
    border:solid black;
}
header{
    

}